.card {
  transition: transform 0.2s;
  
  &:hover {
    transform: translateY(-5px);
  }
}

.game-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5em; /* Define line height */
  height: 3em;        /* 2 lines * 1.5em = 3em fixed height */
}
